<?xml version="1.0" ?>
<model>
    <name>surface_red_long</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Piaktipik</name>
        <email>galvezse@qut.edu.au</email>
    </author>
    <description>Long Red texture, Dangerous for drone landing</description>
</model>
