<?xml version="1.0" ?>
<model>
  <name>flying_arena_dvp</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Nicolas Mandel</name>
    <email>nicolasjohann.mandel@hdr.qut.edu.au</email>
    <name>Juan Sandino</name>
    <email>juan.sandino@hdr.qut.edu.au</email>
  </author>
  <description>Indoor flying arena at the QUT Da Vinci Precinct</description>
</model>
